<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/styles.css"/>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 30px;padding-right: 30px">
        <a class="navbar-brand" href="#">SKILL AND JOB RECOMMENDER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">DASHBOARD</a>
                </li>
                <li>
                    <a class="nav-link" href="/profile">PROFILE</a>
                </li>
                <li class="nav-item d-flex align-items-center ps-2">
                    <form method="get" action="/logout">
                        <button style="padding: 3px; width:70px; border: 0.5px solid; border-radius:5px;align-items:center; ">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- hero -->
    <section class="about">
        <div class="container">

            <div class="contents">

                <div class="image-info">
                    <img id="people" style="width: 100vh; " alt="hero-image" src="static/images/people.jpg"/>
                </div>

                <div style="margin-top: 90px;">
                    <h3>WHAT WE DO ?</h3>

                    <p>>> We want to make every graduate to be employed. 🧑‍💼</p>

                    <p>>> We made you updated on every job offers. 🫳</p>

                    <p>>> we will help you to find your dream job. 😍</p>

                </div>
            </div>

            
    </section>

    <!-- Card sectionF -->

    <div class="main-container" style="margin-top: 220px; padding: 60px;">

        <div class="titles">
            <h4 style="margin: auto;">ON DEMAND JOBS</h4>

        </div>

        <div class="main" style="display: flex; flex-wrap:wrap;">

            <div class="card" style="width: 18rem; margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container" style="margin: 40px;">

        <div class="titles">
            <h4 style="margin: auto;">ON DEMAND JOBS</h4>

        </div>

        <div class="main" style="display: flex; flex-wrap:wrap;">

            <div class="card" style="width: 18rem; margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;  margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer -->

    <div class="footer" style="width: 100%; height: 75px; background-color: rgb(144, 65, 223); margin: auto;">
        <div class="media-cotainer" style=" display:flex; flex-direction: row; justify-content: center;">
            <div class="media"><img style="width: 30px; margin: 20px;" src="./img/instagram.png" /></div>
            <div class="media"><img style="width: 30px; margin: 20px;" src="./img/email.png" /></div>
            <div class="media"><img style="width: 30px; margin: 20px;" src="./img/linkedin.png" /></div>
            <div class="media"></div>
        </div>
    </div>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "ff946d70-3717-4f9b-ab79-a23fe39326b9", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "ae4661b5-f345-47b1-a3cc-89cc1561a5bf", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>
</body>

</html>