*{
    padding: 0;
    margin: 0;
}

h2{
    margin: 0 auto;
}
.form-container{
    width: 30%;
    margin: 200px auto;
    padding: 10px;

}

.main-parent{
    margin: auto;
    padding: 30px;
    width: 100%;
    height: 500px;
}

.content-container{
    margin: auto;
    width: 80%;
    height: 350px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
}

#profile-img{
    object-fit: cover;
    width: 30rem;
    height: 100%;
    border-radius: 6px;
}

.profile-info{
    margin: auto;
}
.profile-details{
    margin: 10px;
}
