.form-container {
  width: 40%;
  margin: 80px auto;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 30px;
}

.contents {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 60px auto;
}

.titles {
  margin: auto;
  padding: 12px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
